.navbar{
    background-color: #362C28;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    height: 64px;
}


.nav-left{
    color: #8D8E6F;
    padding-top: 10px;
}

.nav-middle{
    padding-top: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: auto;
    /* flex-wrap: wrap; */
}

.nav-middle .current{
    background-color: white;
}

.nav-middle > div{
    margin-left: 10px;
    margin-right: 50px;
}

.nav-right{
    padding-top: 10px;
    justify-content: right;
    color: white;
}

a:link {
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #FF9933;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  