.wrapper{
  display: grid;
  flex-flow: row wrap;
  justify-content: center;
}

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

  }
  
  .card-item {
    height: auto;
    width: 100%;
    min-width: 400px;
    max-width: 300px; 
    padding: 5px;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    box-shadow: 3px;
    
  }

  .pagination{
    display: flex;
    /* position: fixed; */
    justify-content: center;
    padding-top: 2.5rem;
  }